[submodule "rpi-hub-server"]
	path = rpi-hub-server
	url = https://github.com/hyperloop-cornell/rpi-hub-server
[submodule "cloud-services"]
	path = cloud-services
	url = https://github.com/hyperloop-cornell/cloud-services
[submodule "web-client"]
	path = web-client
	url = https://github.com/hyperloop-cornell/web-client
[submodule "wifi-fallback-relay"]
	path = wifi-fallback-relay
	url = https://github.com/hyperloop-cornell/wifi-fallback-relay.git
